* {
    -fx-font-family: "Readex Pro";
}

.home {
    -fx-background-image: url("../images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-background-insets: 0;
}

.title {
    -fx-font-size: 50px;
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 2, 2);
}

.tagline {
    -fx-font-family: "Readex Pro";
    -fx-text-fill: #fafafa;
    -fx-font-size: 14;
}

.searchbar {
    -fx-pref-width: 300;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #999999;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.searchbutton {
    -fx-background-color: #fafafa;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-padding: 6 12 6 12;
    -fx-cursor: hand;
}

.textfield {
    -fx-background-color: #fff;
    -fx-max-width: 350;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-width: 1;
    -fx-border-color: #cccccc;
}