.background {
    -fx-background-image: url("../images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 100% 100%;
    -fx-background-insets: 0;
}

.title {
    -fx-font-size: 25px;
    -fx-font-family: "Montserrat";
    -fx-font-weight: Bold;
    -fx-text-fill: #ffffff;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-font-family: "Readex Pro";
    -fx-text-fill: #ffffff;
}

.button {
    -fx-font-family: "Readex Pro";
    -fx-font-size: 12px;
    -fx-font-weight: Bold;
    -fx-padding: 8px 16px;
}

.button.google {
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-text-fill: #132c17;
}

.button.guest {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: #ffffff;
}